.jumbotron {
    /* background-image: url("download.jpg"); */
    background-color: skyblue;
    /* height: 500px; */
}
/* body {
    background-image: url("download.jpg");
    background-color: white;
} */
.btn {
    margin: 10px;
}
